@import "tailwindcss";

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.7s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}